body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}

h3{
    font-family: 'Exo 2', sans-serif; 
}

h1, h2, h4, h5, h6{
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
}



p{
    color: black;
}


/* Headings */

.colored-section{
    background-image: linear-gradient(to bottom right, #fafafa, #0e5491);

}


.container-fluid{
    padding: 3% 15% 3%;
}


.navbar{
    
    padding-bottom: 0 0 4.5rem;
}



.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

.picture{
    border-style: solid;
    
    width: 200px;
}

.btn{
    border-radius: 0%;
    background-color: #0e5491;
    margin-bottom: 20px;
    
}

/*Über Mich*/

.aboutMe, .portfolioStyle, .contactMe{
    padding: 3% 30%;
    text-align: left;
    display: block;
}


/*wenn bildschirm zu klein*/

@media(max-width: 1500px) {

    .aboutMe, .portfolioStyle, .contactMe{
        text-align: center;
        padding: 3% 7%;
    }
    
    .picture{
        margin: 0 0 20px 0;
        width: 100%; /* Passt das Bild an */
        z-index: 2; /* Das Bild bleibt im Vordergrund */
        position: relative;
    }
   

    .position-relative {
        position: relative;
      }



      
   
}



/*Meine Skills Bereich*/

.img-cp {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

.skill-row{
    margin-top: 3%;
}


.skill-item {
    display: inline-block;
    text-align: center;
    margin: 50px;
  }


.stars {
    font-size: 25px;
    color: rgb(161, 140, 16);
    margin-top: 5px;
    font-family: Arial, sans-serif;
  }




/*PortfolioBereich*/



.projectImg{
    margin: 3% 0;
    width: 100%;
   }

.portfolioStyle{
    font-family: 'Exo 2', sans-serif;
    background-image: linear-gradient(to bottom right, #fafafa, #0e5491);
}


/*KontaktaufnahmeBereich*/

.contactBottom{
    margin-bottom: 10%;
}

.btnEnd{
    margin: 2% 0%;
    }



/*Fußzeile*/


.footer{
    background-image: linear-gradient(to bottom right, #fafafa, #0e5491);
    padding: 15px;
      
}



/*Scroll Pfeil*/


#nachOben {
    display: none; /* Standardmäßig verstecken */
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 100;
    font-size: 25px;
    
    
    border: none;
    padding: 15px;
    border-radius: 30%;
    cursor: pointer;
}
 


#nachOben:hover, .btn:hover {
    background-color: #a9c7e9;
}

